<div th:ftagment="header" style="background-color: aliceblue" xmlns="http://www.w3.org/1999/html">
    <h1 style="color: black; margin-left: 40%"   class="my-0 mr-md-auto font-weight-normal">Forecast</h1>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <nav class="my-2 my-md-0 mr-md-3">
            <button class="btn btn-light"><a class="p-2 text-dark" href="/">Pagrindinis puslapis</a></button>
            <button class="btn btn-light"><a class="p-2 text-dark" href="/my-forecasts">Išsaugoti duomenys</a></button><br><br>
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-light"  value="Atsijungti"/>
            </form>
        </nav>
    </div>
</div>